.video-call-component{
    background-color: brown;
    height: 300px;
    width:400px;
}

.message-component{

    background-color: blueviolet;
}

.medicine-prescription{

background-color: blue;

}